

@import "node_modules/bulma/bulma.sass";

.tag {
  margin-right:10px;
}

.search {
  padding:1.2em;
}

.recipe {
  transition: 1s all;
  opacity:100;
}

.columns{
  width: 100%;
}

.hidden {
  display:none;
}
